@model WEB.Models.StudentGroupViewModel

@{
    ViewBag.Title = "StudentGroups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Our student groups:</h2>

<table class="table table-striped">
    <tr>
        <th>
            Name
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model.StudentGroups) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("See the students", "Index", "Student", new {id = item.Id}, null)
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Back to home", "Index", "Home")
</div>

