@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>System for testing students</h1>
    <p class="lead">Check out our students in student group...</p>
    @Html.ActionLink("See the student group >>", "StudentGroups", "StudentGoup")
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Thematic fields</h2>
        <p class="lead">
          
        </p>
    </div>
</div>
